.home-container {
    background-color: #F3F3F3; /* Background color */
    padding: 20px;
  }
  
  .fields-container {
    margin-top: 20px;
  }
  
  .field-container h3 {
    margin-top: 10px;
    font-size: 1.5em;
  }
  
  /* Adjustments for Futsal Field */
  .futsal-field {
    position: relative;
    width: 100%; /* Responsive width */
    max-width: 200px; /* Max width for futsal field */
    height: 300px; /* Fixed height */
    background-color: #1E90FF;
    border: 5px solid red;
    margin: 0 auto;
  }
  
  .player {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 20px;
  }
  
  /* Adjustments for Society Field */
  .socity-field {
    position: relative;
    width: 100%; /* Responsive width */
    max-width: 200px; /* Max width for society field */
    height: 300px; /* Fixed height */
    background-color: #228B22;
    border: 5px solid yellow;
    margin: 0 auto;
  }
  
  /* Adjustments for Campo Field */
  .campo-field {
    position: relative;
    width: 100%; /* Responsive width */
    max-width: 200px; /* Max width for campo field */
    height: 400px; /* Fixed height */
    background-color: #006400;
    border: 5px solid white;
    margin: 0 auto;
  }
  
  .player-campo {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
    color: black;
    text-align: center;
    line-height: 20px;
  }
  