.society-field {
    position: relative;
    width: 250px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    background-color: #228B22;
    border: 5px solid yellow;
    margin-left: -12% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .player {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 20px;
  }

  .title-society
  {
    position: absolute;
    bottom: -56px;
  }
  
  